.navbar {
    margin-top: 1rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 900;
}

.link {
    color: var(--secondary-color);

    &:hover {
        color: var(--primary-color);
    }
}