:where(.css-dev-only-do-not-override-1qhpsh8).ant-layout .ant-layout-sider-trigger {
    background: var(--inverted-bg-color);
    color: var(--secondary-color);

    &:hover {
        color: var(--primary-color);
    }
}

:where(.css-dev-only-do-not-override-1qhpsh8).ant-menu-dark.ant-menu-root.ant-menu-inline {
    background-color: var(--inverted-bg-color);
    color: var(--secondary-color);
}

:where(.css-dev-only-do-not-override-1qhpsh8).ant-menu-dark {
    background-color: var(--inverted-bg-color);
    color: var(--secondary-color);
}

.ant-menu-inline.ant-menu-root .ant-menu-item >.ant-menu-title-content {
    overflow: visible;
    text-transform: uppercase;
    font-weight: 900;
}

:where(.css-dev-only-do-not-override-1qhpsh8).ant-menu-dark .ant-menu-item-selected {
    color: var(--primary-color);
}

:where(.css-dev-only-do-not-override-1qhpsh8).ant-menu-dark .ant-menu-item-selected {
    background-color: transparent;
}

:where(.css-dev-only-do-not-override-1qhpsh8) a {
    transition: none;
}

:where(.css-dev-only-do-not-override-1qhpsh8).ant-menu-dark .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected):hover {
    color: var(--primary-color);
}

:where(.css-1qhpsh8).ant-menu-dark.ant-menu-root.ant-menu-inline {
    background-color: var(--inverted-bg-color);
    color: var(--secondary-color);
}

:where(.css-1qhpsh8).ant-layout .ant-layout-sider-trigger {
    background: var(--inverted-bg-color);
    color: var(--secondary-color);
}