.list {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px, 1fr));
    /* justify-items: center;
    gap: 2rem 1rem;
    overflow-y: scroll; */
    max-height: calc(90vh - var(--navbar-height));
    padding: 1rem;
}

@media screen and (max-width:768px) {
    [data-viewport-type="element"] {
        position: inherit !important;
    }
    [data-test-id="virtuoso-scroller"] {
        overflow-y: inherit !important;
    }
}