.css-r93niq-MuiButtonBase-root-MuiPaginationItem-root {
    background-color: var(--inverted-bg-color) !important;
    color: var(--secondary-color) !important;

    &:hover {
        background-color: var(--primary-color-rgba) !important;
        color: var(--primary-color) !important;
        border: 1px solid var(--primary-color) !important;
    }
}

.css-r93niq-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    color: var(--primary-color) !important;
    border: 1px solid var(--primary-color) !important;
}

.css-1v2lvtn-MuiPaginationItem-root {
    color: var(--secondary-color) !important;
}

.css-21ve8j {
    background-color: var(--inverted-bg-color) !important;
    color: var(--secondary-color) !important;

    &:hover {
        background-color: var(--primary-color-rgba) !important;
        color: var(--primary-color) !important;
        border: 1px solid var(--primary-color) !important;
    }
}

.css-21ve8j.Mui-selected {
    color: var(--primary-color) !important;
    border: 1px solid var(--primary-color) !important;
    background-color: var(--primary-color-rgba) !important;
}

.css-16y9h98 {
    color: var(--secondary-color) !important;
}




.pagination {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0 0;
}