.css-1rwt2y5-MuiButtonBase-root-MuiButton-root:hover {
    border: 1px solid var(--primary-color) !important;
}
.css-79xub:hover {
    border: 1px solid var(--primary-color) !important;
}


.main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.btn {
    margin-right: auto;
    border: 1px solid var(--primary-color-rgba);
    color: var(--primary-color);
    background-color: var(--inverted-bg-color);
}